<div style="padding: 10px; float: right;">
  <% case order.aasm_state %>
  <% when "order_placed" %>
  <%= link_to("取消订单", cancell_account_order_path(order.token), class: "btn btn-default btn-sm", method: :post) %>

  <% when "paid" %>
  <%= link_to("申请退货", apply_to_cancell_account_order_path(order.token), class: "btn btn-default btn-sm", method: :post) %>
  <span class="label label-default">等待卖家发货</span>

  <% when "shipping" %>
  <%= link_to("申请退货", apply_to_cancell_account_order_path(order.token), class: "btn btn-default btn-sm", method: :post) %>
  <%= link_to("确认收货", order_commit_account_order_path(order.token), class: "btn btn-default btn-sm", method: :post) %>

  <% when "applying_to_cancell" %>
  <span class="label label-default ">申请退货中</span>

  <% when "good_returned" %>
  <span class="label label-default">交易取消</span>

  <% when "order_cancelled" %>
  <span class="label label-default">订单已取消</span>

  <% when "apply_ship" %>
  <span class="label label-default">交易完成</span>


  <% end %>
</div>
