
<div class="row">
	<div class="col-md-12">
		<h2>购物车</h2>	
		<div class="cart-header">

		<%= link_to("清空购物车", cart_items_clean_cart_items_path, method: :delete, class: "btn btn-danger pull-right") %>
		</div>
		<br>
		<br>
		<table class="table table-bordered">
	<thead>
		<th colspan="2">商品资讯</th>
		<th>价格</th>
		<th>数量</th>
		<th>小计</th>
		<th>操作</th>

	</thead>
	<tbody>
		<% current_cart.cart_items.each do |cart_item| %>
           <%= render "carts/cart_content", :cart_item => cart_item %>
		<% end %>
	</tbody>
</table>
	</div>
</div>


