
<div class="row">
	<div class="col-md-12">
		<h2>购物车</h2>
		<div class="cart-header">

		<%= link_to("清空购物车", cart_items_clean_carts_path, method: :delete, class: "btn btn-danger pull-right") %>
		</div>
		<br>
		<br>

		<%= form_for current_cart, url: checkout_carts_path(current_cart), :method => :post do |f| %>
		<table class="table table-shopping">
	<thead>
		<th>
			<input type="checkbox" class="cart-select-all">全选
		</th>
		<th class="text-center"></th>
		<th width="24%">商品资讯</th>
		<th>价格</th>
		<th>数量</th>
		<th>小计</th>
		<th>操作</th>

	</thead>
	<tbody>
		<% current_cart.cart_items.each_with_index do |cart_item, index| %>
           <%= render "carts/cart_content", :cart_item => cart_item, :index => index %>
		<% end %>
	</tbody>
         </table>
         <hr>
         <tr>
         	<td><input type="checkbox" class="cart-select-all">全选</td>
         	<td colspan="1">
						<span class="total-price pull-right">
							0
						</span>
         	</td>
         </tr>
				 <hr>
				 <div class="checkout">
				 		<%= f.button "去结算", type: :submit, value: true, class: "btn btn-danger btn-lg pull-right" %>
				 </div>
				 <% end %>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function(){
		//购物车全选
		cartSelectAll();
		//购物车勾选
		cartItemSelect();

	});
	//购物车全选
	function cartSelectAll(){
		$(".cart-select-all").click(function(){

			var flag = this.checked
			var items = document.getElementsByName('item_ids[]');
			for (var i = 0; i < items.length; i++) {
				items[i].checked = flag;
			}
			//重新计算总价
			totalPrice();
		})
	}

	//购物车勾选
	function cartItemSelect(){
			var items = document.getElementsByName('item_ids[]');
			for (var i = 0; i < items.length; i++) {
				items[i].onclick = function(){
					//记录有几个商品被选中
					var num = 0;
					for (var j = 0; j < items.length; j++) {
						if (items[j].checked){
							num++;
						}
					}
					$(".cart-select-all").prop("checked", items.length == num);
					totalPrice();
				}
			}
	}

	//计算总价
	function totalPrice(){
		var totalprice = 0;
		var items = document.getElementsByName('item_ids[]');
		for (var i = 0; i < items.length; i++) {
			if (items[i].checked) {
				totalprice += parseInt($("#item-price-" + i).html());
			}
		}
		$(".total-price").html(totalprice);
	}

</script>
